<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="dynamixel_hexapod_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="1A_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['1A_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="1B_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['1B_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="1C_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['1C_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="2A_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['2A_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="2B_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['2B_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="2C_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['2C_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="3A_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['3A_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="3B_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['3B_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="3C_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['3C_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="4A_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['4A_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="4B_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['4B_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="4C_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['4C_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="5A_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['5A_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="5B_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['5B_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="5C_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['5C_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="6A_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['6A_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="6B_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['6B_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="6C_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['6C_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
