<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="dynamixel_hexapod_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="joint_1A">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_1A']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_1B">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_1B']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_1C">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_1C']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_2A">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_2A']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_2B">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_2B']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_2C">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_2C']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_3A">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_3A']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_3B">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_3B']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_3C">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_3C']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_4A">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_4A']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_4B">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_4B']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_4C">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_4C']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_5A">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_5A']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_5B">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_5B']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_5C">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_5C']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_6A">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_6A']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_6B">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_6B']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_6C">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_6C']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
